.App {
  display: flex;
}

.loader{
  display:block;
  width: 100%;
  padding:20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.br{
  max-width: 345px !important;
  
}

.MuiPaper-root{
  animation-name: animate-popup;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes animate-popup {
  0% {
      opacity: 0;
      transform: scale(1, 1);
  } 
  50% {
    opacity: 0.5;
    transform: scale(1, 1);
    
} 
  100% {
      opacity: 1;
  }
}

.cardx{
  display: block;
  padding: 20px;
}